<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        https://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util.xsd>
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">
  
	<!-- Annotation configuration unable -->
	<context:annotation-config/>	
	<context:component-scan base-package="com.spring.orm"/>
	<tx:annotation-driven/>

	
	<!--1. JDBC Driver COnfiguration -->
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/springorm"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>

	<!--2. SessionFactory COnfiguration -->
	<bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.spring.orm.beans.Student</value>
			</list>
		</property>
	</bean>
	
	<!-- Transaction Manager COnfiguration -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="factory"/>
	</bean>
	
	<!--4. Hibernate COnfiguration -->
	<bean id="hibTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="factory"/>
	</bean>
	
	<!--5. DAO bean COnfiguration -->
	<bean id="studentDAO" class="com.spring.orm.dao.StudentDAO">
		<property name="hibernateTemplate" ref="hibTemplate" />
	</bean>
	
	
</beans>